---
// IMPORTING ATOMS
import H2OpenSans from "../../atoms/H2OpenSans.astro"

// IMPORTING COMPONENTS
import TextTitleArrowButton from "../common/TextTitleArrowButton.astro"
---
<section class="pt-20 pb-56 border-t border-urbaninsight_light_gray">
    <H2OpenSans>Recent Articles</H2OpenSans>
    <div class="grid grid-cols-2 gap-14 pt-16">
        <TextTitleArrowButton
            text="Web Development"
            title="The Model Website Redesign RFP Template"
            button_title="Read More"
        />
        <TextTitleArrowButton
            text="Web Development"
            title="The Model Website Redesign RFP Template"
            button_title="Read More"
        />
    </div>
</section>
