---
import ArrowButton from "../../../atoms/ArrowButton.astro"

const { heading, title, href } = Astro.props
---
<div>
    <p class="uppercase font-bold text-urbaninsight_light_gray font-open_sans">{ heading }</p>
    <a href={ href }>
        <p class="text-[28px] text-urbaninsight_black font-bold font-open_sans leading-tight">{ title }</p>
    </a>
    <div class="pt-1">
        <ArrowButton>Read More</ArrowButton>
    </div>
</div>
