.control-dots{
    bottom: -100px !important;
}
.carousel .control-dots .dot{
    background-color: #B1BECF !important;
    box-shadow: none;
    width: 10px;
    height: 10px;
}
.carousel.carousel-slider{
    overflow: inherit !important;
}
.marked p{

    @apply text-xl my-2 text-[#5E6D89] font-open_sans !important;

}
.marked h2{

    @apply text-5xl font-semibold text-[#30384C] font-open_sans mt-10 mb-6 !important;

}
.marked h3{

    @apply text-2xl font-semibold text-[#30384C] font-open_sans mt-10 mb-6 !important;

}
