.control-dots{
    bottom: -100px !important;
}
.carousel .control-dots .dot{
    background-color: #B1BECF !important;
    box-shadow: none;
    width: 10px;
    height: 10px;
}
.carousel.carousel-slider{
    overflow: inherit !important;
}
