---
import { endpointFetch } from "../functions/endpoint"

const runtime = Astro.locals.runtime;
const endpoint = endpointFetch( runtime.env.ENVIRONMENT )

// NETWORK CALL TO GET DATA
const network_data = await fetch( endpoint + "/home" )
const data_json = await network_data.json()

const { data } = data_json.data

// HOME PROPS
let masthead = null
let our_approach = null
let industry_expertise = null
let web_development = null
let clients = null
let contact_us = null

data.map( ( data ) => {

	if( data.slug === "masthead" )
        masthead = data
    else if( data.slug === "our-approach" )
        our_approach = data
	else if ( data.slug === "industry-expertise" )
        industry_expertise = data
    else if ( data.slug === "web-development" )
        web_development = data
    else if ( data.slug === "clients" )
        clients = data
    else if ( data.slug === "contact-us" )
        contact_us = data

})

const article_data = await fetch( endpoint + "/articles" )
const article_data_json = await article_data.json()

const articles = article_data_json.data


// LAYOUTS
import Layout from "../layouts/Layout.astro"
import Container from "../layouts/Container.astro"

// CUSTOM STYLES
import "../styles/custom.css"

// COMPONENTS
import HeaderBanner from "../components/common/HeaderBanner.astro"
import Header from "../components/Header"
import Masthead from "../components/home/Masthead.astro"
import OurApproach from "../components/home/OurApproach.astro"
import SliderJSX from "../components/home/Slider"
import IndustryExpertise from "../components/home/IndustryExpertise.astro"
import Clients from "../components/home/clients/Clients.astro"
import Footer from "../components/Footer.astro"
import ContactUs from "../components/home/ContactUs.astro"
import Articles from "../components/home/articles/Articles.astro"

// const data = [ "Broad.jpg", "global.jpg", "GOODG.jpg" ]
---
<Layout
    title="Top Rated Web Development Agency | Urban Insight"
    description="Web Development Agency. Innovative user-focused websites for organizations making a difference. Website Development and Design, Digital Strategy, Web Applications."
    image=""
>
    <!-- <pre>{JSON.stringify(runtime.env)}</pre> -->
    <section class="bg-[url('/images/Hero-Waves.png')] bg-contain bg-no-repeat z-20">
        <div style={{ background: "linear-gradient(90deg, rgba(18,33,38,1) 0%, rgba(24,37,46,1) 25%, rgba(52,68,96,1) 54%, rgba(35,32,49,1) 77%, rgba(34,23,39,1) 100%)" }}>
            <HeaderBanner />
            <Header />
            <Masthead data={ masthead } />
        </div>
    </section>
    <section class="relative">
        <OurApproach data={ our_approach } />
    </section>
    <section class="mt-[600px] mb-60">
        <SliderJSX data={ data } client:load />
    </section>
    <IndustryExpertise data={ industry_expertise } />
    <Articles data={ web_development } article_data={ articles } />
    <Clients data={ clients } />
    <ContactUs data={ contact_us } />
    <Footer />
</Layout>
