---
// import "../functions/Home.astro"
const runtime = Astro.locals.runtime;

// console.log( runtime.env.ENVIRONMENT )
// LAYOUTS
import Layout from "../layouts/Layout.astro"
import Container from "../layouts/Container.astro"

// CUSTOM STYLES
import "../styles/custom.css"

// COMPONENTS
import HeaderBanner from "../components/common/HeaderBanner.astro"
import Header from "../components/Header"
import Masthead from "../components/home/Masthead.astro"
import OurApproach from "../components/home/OurApproach.astro"
import SliderJSX from "../components/home/Slider"
import IndustryExpertise from "../components/home/IndustryExpertise.astro"
import Clients from "../components/home/clients/Clients.astro"
import Footer from "../components/Footer.astro"
import ContactUs from "../components/home/ContactUs.astro"
import Articles from "../components/home/articles/Articles.astro"

const data = [ "Broad.jpg", "global.jpg", "GOODG.jpg" ]
---
<Layout
    title="Top Rated Web Development Agency | Urban Insight"
    description="Web Development Agency. Innovative user-focused websites for organizations making a difference. Website Development and Design, Digital Strategy, Web Applications."
    image=""
>
    <!-- <pre>{JSON.stringify(runtime.env)}</pre> -->
    <section class="bg-[url('/images/Hero-Waves.png')] bg-contain bg-no-repeat z-20">
        <div style={{ background: "linear-gradient(90deg, rgba(18,33,38,1) 0%, rgba(24,37,46,1) 25%, rgba(52,68,96,1) 54%, rgba(35,32,49,1) 77%, rgba(34,23,39,1) 100%)" }}>
            <HeaderBanner />
            <Header />
            <Masthead />
        </div>
    </section>
    <section class="relative">
        <OurApproach />
    </section>
    <SliderJSX data={ data } client:load />
    <IndustryExpertise />
    <Articles />
    <Clients />
    <ContactUs />
    <Footer />
</Layout>
