---
const {

    right,
    leading,
    center,
    light

} = Astro.props
---
<h2 class={` ${ center ? "text-center" : "" } ${ light ? "text-white" : "" } ${ right ? "text-right" : "text-left" } ${ leading ? "leading-snug" : "leading-[56px]" } font-trumpsoftpro text-[64px] text-urbaninsight_black uppercase`}>
    <slot />
</h2>
