<section class="bg- h-[1080px] relative z-10">
    <div class="pt-60 pl-32">
        <p class="text-7xl uppercase text-white font-trumpsoftpro font-bold">Websites that work,<br/>For organizations that<br/>Make a difference</p>
    </div>
    <div class="w-[460px] absolute bottom-12 -left-8 z-30 hover:bottom-[60px] hover:-left-9 transition-all duration-500">
        <img
            src="/images/Hero-ipad.png"
            alt=""
            class="w-full h-full"
        />
    </div>
    <div class="w-96 absolute -bottom-4 left-[600px] z-30 hover:-bottom-5 transition-all duration-500">
        <img
            src="/images/Hero-iphone.png"
            alt=""
            class="w-full h-full"
        />
    </div>
    <div class="w-[460px] absolute top-40 right-8 z-30 hover:right-6 hover:top-[152px] transition-all duration-500">
        <img
            src="/images/Hero-laptop.png"
            alt=""
            class="w-full h-full"
        />
    </div>
</section>
