---
// ATOMS
import ArrowButton from "../../atoms/ArrowButton.astro"
import H2 from "../../atoms/H2.astro"
---
<section class="flex justify-center w-full absolute -top-[344px] z-10">
    <div class="grid grid-cols-3 gap-20 bg-urbaninsight_light_blue h-[610px] w-[1000px] rounded-xl p-32 shadow-2xl pt-48">
        <H2>Our Approach</H2>
        <div class="flex flex-col gap-8 col-span-2">
            <p class="text-xl font-open_sans text-urbaninsight_slate leading-loose">We provide exceptionally <strong>strong project leadership</strong> informed by <strong>data-driven strategy</strong> and based on <strong>technical expertise</strong> to develop websites that work, for organizations that make a difference.</p>
            <ArrowButton large={ true }>Contact Us</ArrowButton>
        </div>
    </div>
</section>