---
import ClientsItem from "./ClientsItem.astro"
---

<section class="grid grid-cols-4 gap-24 max-w-6xl mx-auto py-40">
    <ClientsItem
        src="/logos/lacma-logo.png"
        alt=""
    />
    <ClientsItem
        src="/logos/KW-logo.png"
        alt=""
    />
    <ClientsItem
        src="/logos/LA-logo.png"
        alt=""
    />
    <ClientsItem
        src="/logos/USC.png"
        alt=""
    />
    <ClientsItem
        src="/logos/PZ_Planetizen_Logo-White.png"
        alt=""
    />
    <ClientsItem
        src="/logos/ucla-logo.png"
        alt=""
    />
    <ClientsItem
        src="/logos/broad.png"
        alt=""
    />
    <ClientsItem
        src="/logos/JANM.png"
        alt=""
    />
    <ClientsItem
        src="/logos/The Huntington.png"
        alt=""
    />
    <ClientsItem
        src="/logos/ALA-logo.png"
        alt=""
    />
    <ClientsItem
        src="/logos/CAC-logo.png"
        alt=""
    />
    <ClientsItem
        src="/logos/quicken.png"
        alt=""
    />
</section>
