---
// IMPORTING COMPONENTS
import ClientsItem from "./ClientsItem.astro"

const { data } = Astro.props
---
<section class="grid grid-cols-4 gap-24 max-w-6xl mx-auto py-40">
    {

        data.images.map( ( item ) => {

            return(
                <ClientsItem
                    src={ item.file }
                    alt=""
                />
            )

        })

    }
</section>
