---
// IMPORTING CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../../../constants/cdn"

const { src, alt } = Astro.props
---
<div class="flex justify-center">
    <div class="w-32 aspect-[3/1]">
        <img
            src={ CDN_LINK + src + "?quality=" + IMAGE_QUALITY }
            alt={ alt }
            class="w-full h-full"
        />
    </div>
</div>
