---
const { src, alt } = Astro.props
---
<div class="flex justify-center">
    <div class="w-32 aspect-[3/1]">
        <img
            src={ src }
            alt={ alt }
            class="w-full h-full"
        />
    </div>
</div>
